.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 82%;
    max-width: 180px;
    aspect-ratio: 1 / 1 !important;
    overflow: hidden;
    background-color: rgba(20, 20, 20, .1);
}